.cartContainer input[type="checkbox"] {
    display: none;
}
.cart-btn {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.cart {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    max-width: 600px;
    height: 100%;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-body {
    display: grid;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}