.filter-single {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filters-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.filters-container select {
    width: 150px;
}