.single-product-card {
    background-color: rgb(236, 236, 236);
    width: fit-content;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-product-card h4 {
    margin-bottom: 20px;
}
.single-product-card img {
    width: 100%;
    object-fit: cover;
}
.upperProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-product-card small {
    display: block;
    margin-top: 10px;
    font-size: 10px;
    color: gray;
    font-weight: 700;
}
.add-to-cart-btn {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}